<body>
    <div id="wrapper">
    <div id="left">
      <div id="signin">
        <div class="logo">
          <img src="./assets/img/logo-en.png" alt="KINAL" />
        </div>
        <form #registroForm="ngForm" (ngSubmit)="register()">
            <div>
                <label>Nick</label>
                <input type="text" id="Username" class="text-input"  placeholder="Nick" name="nombre" #nombre='ngModel'
                [(ngModel)]="user.nombre" id="nombre">
              </div>
          <div>
            <label>Correo</label>
            <input type="text" id="inputEmail" class="text-input"  placeholder="Dirección de correo" required autofocus
            name="email" #email='ngModel' [(ngModel)]="user.email">
          </div>
          <div>
              <div class="text-center" *ngIf="loading" id="spinner">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
            <label>Contraseña</label>
            <input type="password" class="text-input" id="inputPassword"  placeholder="Contraseña" required name="password"
            #password='ngModel' [(ngModel)]="user.password"/>
          </div>
          <button type="submit" class="primary-btn" (click)="activarCarga()">Registrarse </button>
        </form>
      </div>
    </div>
    <div id="right">
      <div id="showcase">
        <div class="showcase-content">
        </div>
      </div>
    </div>
  </div>
  </body>