
<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>


<main role="main">
  

  <div class="container marketing">
      <h1 class="text-center">Conferencistas</h1>
    <div class="row justify-content-md-center">
      
      <div class="col-lg-4">
          <div  class="ratio img-responsive img-circle" 
          style="background-image: url(https://images-expokinal2019.s3.amazonaws.com/batres.jpeg);"></div>
        <h2>Fernando Javier Batres Velásquez</h2>
        <p>Aplicaciones y el reto del desarrollo móvil</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <div  class="ratio img-responsive img-circle" 
          style="background-image: url(https://images-expokinal2019.s3.amazonaws.com/candelario.jpeg);"></div>
        <h2>Candelario Morales Ajcot</h2>
        <p>Taller de desarrollo de aplicaciones móviles con React Native y Amazon</p>
      </div>
      <div class="col-lg-4">
          <div  class="ratio img-responsive img-circle" 
          style="background-image: url(https://images-expokinal2019.s3.amazonaws.com/ludwing.jpeg);"></div>
        <h2>Ludwing Ixcayau</h2>
        <p>Innovación Tecnológica con Traeguate</p>
      </div>

      
      <div class="col-lg-4 ">
        <div  class="ratio img-responsive img-circle" 
          style="background-image: url(https://images-expokinal2019.s3.amazonaws.com/Luis+D%C3%A9leon-min.jpg);"></div>
        <h2>Luis Mauricio Déleon Barquero</h2>
        <p>Tomando decisiones informadas en los negocios, Big Data</p>
      </div>
    <div class="col-lg-4">
        <div  class="ratio img-responsive img-circle" 
        style="background-image: url(https://images-expokinal2019.s3.amazonaws.com/Dennis+L%C3%B3pez-min.jpg);"></div>
      <h2>Dennis Roberto López Villagran</h2>
      <p>Impresión 3D orientada a la educación en Guatemala
      </p>
    </div>
    </div>
    <hr class="featurette-divider">
    <h1 class="text-center">Arcerca de las Conferencias</h1>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Aplicaciones y el reto del desarrollo móvil
        </h2>
        <p class="lead text-justify">Entender como el mundo esta cambiando con la estrategia de movilidad. 
          El desarrollo móvil ha despegado de una forma impresionante, lo que resulta en beneficio para quien se encuentran en 
          el desarrollo de apps.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
        height="500" src="https://images-expokinal2019.s3.amazonaws.com/1535197432-custom_mobile_app_development_aboveafter.png" alt=""> 
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">React Native y Amazon
        </h2>
        <p class="lead text-justify">Desarrollar aplicaciones móviles con la agilidad e innovación de los servicios que ofrece Amazon Web Services. AWS ha dedicado esfuerzos en crear productos que permitan a equipos de desarrollo móvil innovar de forma más rápida, evitando que deban preocuparse por mantener y operar servicios de back-end. </p>
      </div>
      <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="https://images-expokinal2019.s3.amazonaws.com/aws%2Breact.jpg" alt=""> 
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Innovación Tecnológica con Traeguate</h2>
        <p class="lead">Dar a conocer el emprendimiento tecnológico Traeguate como una plataforma destinada a mejorar el tráfico en Guatemala mediante la impulsion del carpooling: una forma segura, ecológica, económica y amistosa de viajar.</p>
      </div>
      <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="https://images-expokinal2019.s3.amazonaws.com/innovacion.png" alt=""> 
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Tomando decisiones informadas en los negocios, Big Data</h2>
        <p class="lead">Demostrar a los participantes aspectos fundamentales de Big Data para el análisis y tratamiento de grandes volúmenes de datos  para convertirlos en valor para la toma de decisiones.</p>
      </div>
      <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="https://images-expokinal2019.s3.amazonaws.com/Big-data.png" alt=""> 
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Impresión 3D orientada a la educación en Guatemala</h2>
        <p class="lead">Analizar el uso de las impresoras 3D en el contexto educativo, conociendo el proceso de impresión 3D, desde el diseño hasta la producción, así como la participación activa de los estudiantes. </p>
      </div>
      <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="https://images-expokinal2019.s3.amazonaws.com/3d-printer-3311587__340.png" alt=""> 
      </div>
    </div>
    <hr class="featurette-divider">
    
  </div>
  <footer class="container">
    <p>&copy; 2017-2019 Fundacion KINAL.</p>
  </footer>
</main>